<div style="padding-top: 50px">
    <div class='card'>
        <div class='card-header'>
            <button type="button" class='btn btn-primary' style='width: 80px' (click)='onBack()'>Retour</button>
        </div>
        <div class='card-body'>
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4">
                        <img class="card-img img-fluid" alt="80%x200" [src]="playlist?.coverUrl">
                    </div>
                    <div class="col-lg-8">
                        <h5 class="card-hover-title">{{playlist?.playlistTitle}}</h5>
                        <p class="card-hover-text">{{playlist?.playlistDescription}}</p>
                        <p class="card-hover-text"><b>{{playlist?.trackCount}} tracks - {{playlist?.playlistLength}}</b></p>                  
                    </div>
                </div>
            </div>
            <table class="table table-hover align-middle mt-4">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Morceau</th>
                    <th scope="col">Artiste.s</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Preview</th>
                  </tr>
                </thead>
                <tbody *ngFor='let track of tracksClean'>
                  <tr>
                    <th scope="row" style="padding-top: 25px;">{{track.trackPosition}}</th>
                    <td style="padding-top: 25px;">{{track.trackName}}</td>
                    <td style="padding-top: 25px;">{{track.trackArtists}}</td>
                    <td style="padding-top: 25px;">{{track.trackLength}}</td>
                    <td><audio controls> <source [src]="track.preview" type="audio/ogg"> </audio> </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div> 
</div>