.card-hover-text{
    display:none;
}

.card-hover-title{
    display:none;
}

.card-body:hover .card-text{
    display:none;
}
.card-body:hover .card-hover-text{
    display:block;
}
.card-body:hover .card-hover-title{
    display: block;
}

.card-img {
    transition: all 1s ease;
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px) brightness(100%) opacity(100%)
}

.card-body:hover > *:not(.card-img-overlay) {
    transition: all 0.5s ease;
    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(10px) brightness(120%) opacity(50%)
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}