<section class="pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">{{headerTitle}}</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor='let item of cutPlaylists; let isFirst = first' [ngClass]="{active:isFirst}">
                            <div class="row">
                                <div class="col-md-4 mb-3" *ngFor='let playlist of item'>
                                    <a href="https://www.lequipe.fr/" target="_blank" class="custom-card">
                                    <div class="card-body text-black" >
                                        <img class="card-img img-fluid" alt="100%x280" [src]="playlist.coverUrl">
                                        <div class="card-img-overlay" style="padding-left: 45px; padding-top: 30px; width: 90%">
                                          <h5 class="card-hover-title">{{playlist.playlistTitle}}</h5>
                                          <p class="card-hover-text">{{playlist.playlistDescription}}</p>
                                          <p class="card-hover-text">{{playlist.trackCount}} tracks</p>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>